<!-- start custom footer snippets -->
<div class="page__footer-follow">
  <table style="width:100%; align:center">
    <tr>
    {%  for category in site.footer_links.categories %}
      <td>
        <table style="align:top">
          <th> <a href={{ category.url }}> {{ category.name }} </a> </th>
          {% for reference in category.links %}
            <tr> <td> <a href={{category.base_url }}{{ reference.url }}> {{ reference.name }} </a> </td> </tr>
          {% endfor %}
        </table>
      </td>
    {% endfor %}
    </tr>
  </table>
  <ul class="social-icons">
    {% if site.author.e-class %}
      <li><a href="https://e-class.ionio.gr"> E-class </a></li>
    {% endif %}
    {% if site.author.webmail %}
      <li><a href="https://webmail.ionio.gr/"> Webmail </a></li>
    {% endif %}
    {% if site.author.gramweb %}
      <li><a href="http://gram-web.ionio.gr/unistudent/login.asp"> Gramweb </a></li>
    {% endif %}
    {% if site.author.dreamspark %}
      <li><a href="https://e5.onthehub.com/WebStore/ProductsByMajorVersionList.aspx?ws=1e1f8b5d-849b-e011-969d-0030487d8897&vsro=8&JSEnabled=1"> Dreamspark </a></li>
    {% endif %}
    {% if site.author.eudoxus %}
      <li><a href="https://service.eudoxus.gr/"> Eudoxus </a></li>
    {% endif %}
  </ul>
</div>


<!-- end custom footer snippets -->