<!-- start custom footer snippets -->
<div class="page__footer-follow" style="width: auto;">
    <div style="display: flex; align-items: first baseline; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-content: space-around;">
        {%  for category in site.data.shortcuts.categories %}
            <div style="vertical-align: top; border: none; " >
                <ul class="social-icons" style="">
                    <li > <a href={{ category.url }} > <b style="color: white; text-transform: none; font-size: 1em; font-weight: bold;"> {{ category.name }} </b> </a> </li>  <br>
                    {% for reference in category.links %}
                        {% if reference.external == true %}
                            <li class=""> <a href="{{ reference.url | absolute_url }}" rel="permalink" style="color: white; text-transform: none; font-size: 1em; font-weight: normal;" target="_blank"> {{ reference.name }} </a> </li>  <br>
                        {% else %}
                            <li class=""> <a href={{category.base_url }}{{ reference.url }} style="color: white; text-transform: none; font-size: 1em; font-weight: normal;"> {{ reference.name }} </a> </li>  <br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
<!-- end custom footer snippets -->