<div class="page__footer-follow">
  <table style="border: 1px solid transparent;">
      <tr onmouseover="this.style.background = '#0000';">
          {%  for category in site.data.shortcuts.categories %}
              <td style="vertical-align: top; border: none; " >
                  <ul class="social-icons" style="">
                      <li > <a href={{ category.url }} > <b style="color: white; text-transform: none; font-size: 1.5em; font-weight: bold;"> {{ category.name }} </b> </a> </li>  <br>
                      {% for reference in category.links %}
                          {% if reference.external == true %}
                              <li class=""> <a href="{{ reference.url | absolute_url }}" rel="permalink" style="color: white; text-transform: none; font-size: 1.5em; font-weight: normal;" target="_blank"> {{ reference.name }} </a> </li>  <br>
                          {% else %}
                              <li class=""> <a href={{category.base_url }}{{ reference.url }} style="color: white; text-transform: none; font-size: 1.5em; font-weight: normal;"> {{ reference.name }} </a> </li>  <br>
                          {% endif %}
                      {% endfor %}
                  </ul>
              </td>
          {% endfor %}
      </tr>
  </table>
</div>