{% assign addr = site.data.contact["address"] %}
{% assign cnt_info = site.data.contact["contact_info"] %}
{% assign map = site.data.contact["map_1"] %}

<h2><i class= "fa fa-map-marker-alt" style="color: orange; font-size: x-large;" aria-hidden="true"></i> Διεύθυνση </h2>
<h5>{{addr.building}}<br>{{addr.street}}<br>{{addr.zip}}</h5>

<h2> <i class="fa fa-phone" style="color: orange; font-size: x-large;"></i> Τηλέφωνα Επικοινωνίας </h2>
{%- for num in cnt_info.tel -%}
	<h5><a href="tel:+30{{num}}">{{num}}</a></h5>
{%- endfor -%}

<h2><i class="far fa-envelope" style="color: orange; font-size: x-large;"></i> Διεύθυνση Ηλεκτρονικού Ταχυδρομείου </h2>
{%- for em in cnt_info.email -%}
	<h5><a href="mailto:{{em}}">{{em}}</a></h5>
{%- endfor -%}

<h2><i class="far fa-map" style="color: orange; font-size: x-large;"></i> Ο Χάρτης της Πόλης </h2>
{% leaflet_map
				{
					"center": {{map.center}},
					"zoom": {{map.zoom}},
					"providerBasemap": "{{map.providerBasemap}}", 
				}
%}
	{%- for marker in map.markers -%}
		{% leaflet_marker 
							{
								"latitude": {{marker.latitude}},
								"longitude": {{marker.longitude}},
								"popupContent": "{{marker.popupContent}}", 
							}
		%}
	{% endfor %}
{% endleaflet_map %}

<h3>Περιήγηση με τους προσωπικούς χάρτες</h3>
{%- for marker in map.markers -%}
	<h5><a href="https://maps.google.com/maps/place/{{marker.latitude}},{{marker.longitude}}"> {{marker.popupContent}} </a></h5>
{%- endfor -%}
